#wrap { width: 100%; }

#wrap #header { position: fixed; left: 0; top: 0; z-index: 4; width: 100%; height: 82px; background: rgba(0, 0, 0, 0.8); border-bottom: 1px solid rgba(0, 0, 0, 0.1); -webkit-transition: top 0.3s linear, background 0.3s linear; transition: top 0.3s linear, background 0.3s linear; }

#wrap #header.white { background: #fff; }

#wrap #header.white .container .header h1 a::before { background: url(../img/sp_svg_icon_web.png); background-size: 418px 372px; background-position: -168px -98px; }

#wrap #header.white .container a { color: #000 !important; }

#wrap #header.white .container .lnb { background: #fff !important; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

#wrap #header.white .container .side_btn a { border: 1px solid rgba(0, 0, 0, 0.4) !important; }

#wrap #header.white .container .side_btn a:hover { border: 1px solid #05d685 !important; color: #fff !important; background: #05d685 !important; }

#wrap #header.up { top: -82px; }

#wrap #header .container { width: 100%; max-width: 1176px; height: 100%; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap #header .container .header { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#wrap #header .container .header > h1 { display: inline-block; }

#wrap #header .container .header > h1 a { display: inline-block; color: #fff; }

#wrap #header .container .header > h1 a::before { content: ''; display: block; width: 145px; height: 22px; background: url(../img/sp_svg_icon_web.png); background-size: 418px 372px; background-position: -3px -124px; }

#wrap #header .container .header .web-menu { display: inline-block; }

#wrap #header .container .header .web-menu > ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

#wrap #header .container .header .web-menu > ul > .gnb { display: inline-block; }

#wrap #header .container .header .web-menu > ul > .gnb > a { display: block; padding: 33px 33px; color: rgba(255, 255, 255, 0.6); font-size: 16px; }

#wrap #header .container .header .web-menu > ul > .gnb > a:hover { color: white; text-decoration: underline; font-weight: 500; }

#wrap #header .container .header .web-menu > ul > .gnb .lnb { position: absolute; z-index: 4; left: 0; top: 82px; width: 100%; background: rgba(0, 0, 0, 0.8); display: none; font-size: 15px; border-top: 1px solid rgba(255, 255, 255, 0.1); }

#wrap #header .container .header .web-menu > ul > .gnb .lnb ul { margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding: 20px 0; height: 180px; }

#wrap #header .container .header .web-menu > ul > .gnb .lnb ul li { display: inline-block; }

#wrap #header .container .header .web-menu > ul > .gnb .lnb ul li + li { margin-left: 130px; }

#wrap #header .container .header .web-menu > ul > .gnb .lnb ul li div { line-height: 1.5; }

#wrap #header .container .header .web-menu > ul > .gnb .lnb ul li a { display: block; padding: 10px 0; color: rgba(255, 255, 255, 0.6); font-family: 'NanumSquareRound', sans-serif; }

#wrap #header .container .header .web-menu > ul > .gnb .lnb ul li a:hover { color: white; text-decoration: underline; }

#wrap #header .container .header .side_btn { display: inline-block; }

#wrap #header .container .header .side_btn > ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

#wrap #header .container .header .side_btn > ul > li { display: inline-block; }

#wrap #header .container .header .side_btn > ul > li + li { margin-left: 8px; letter-spacing: -0.4px; }

#wrap #header .container .header .side_btn > ul > li > a { font-size: 12px; border: 1px solid rgba(255, 255, 255, 0.6); color: rgba(255, 255, 255, 0.8); padding: 8px 14px; border-radius: 3px; -webkit-transition: background 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out; transition: background 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out; }

#wrap #header .container .header .side_btn > ul > li > a:hover { border: 1px solid #fff; color: black; background: #fff; }

#wrap #header .container .header .mob-menu-box { display: none; width: 40px; height: 36px; }

#wrap #header .container .header .mob-menu-box .mob-menu-op-btn { display: block; width: 100%; height: 100%; padding: 10px; }

#wrap #header .container .header .mob-menu-box .mob-menu-op-btn::before { content: ''; display: block; width: 100%; height: 100%; background: url(../img/sp_svg_icon_mob.png); background-size: 383px 329px; background-position: 143px -123px; }

#wrap #header .container .header .mob-menu { display: none; position: fixed; z-index: 7; left: 100%; top: 0; width: 100%; height: 100%; background: #fff; }

#wrap #header .container .header .mob-menu.on { left: 0; -webkit-transition: left .6s ease-in-out; transition: left .6s ease-in-out; }

#wrap #header .container .header .mob-menu .nav-header { display: -webkit-box; display: -ms-flexbox; display: flex; height: 54px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 8px 0 0; }

#wrap #header .container .header .mob-menu .nav-header h1 { display: inline-block; height: 100%; }

#wrap #header .container .header .mob-menu .nav-header h1 a { display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #fff; padding: 15px; }

#wrap #header .container .header .mob-menu .nav-header h1 a::before { content: ''; display: block; width: 124px; height: 17px; background: url(../img/sp_svg_icon_mob.png); background-size: 383px 329px; background-position: -140px -206px; }

#wrap #header .container .header .mob-menu .nav-header .mob-menu-cl-box { width: 40px; height: 40px; padding: 10px; }

#wrap #header .container .header .mob-menu .nav-header .mob-menu-cl-box .mob-menu-cl-btn { display: block; width: 100%; height: 100%; }

#wrap #header .container .header .mob-menu .nav-header .mob-menu-cl-box .mob-menu-cl-btn::before { content: ''; display: block; width: 100%; height: 100%; background: url(../../img/sp_clova.png); background-size: 795px 754px; background-position: -195px 127px; }

#wrap #header .container .header .mob-menu .mob-menu-list { width: 100%; height: calc(100% - 54px); padding: 0 20px; overflow-y: scroll; }

#wrap #header .container .header .mob-menu .mob-menu-list dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding: 24px 0 30px; letter-spacing: -0.6px; }

#wrap #header .container .header .mob-menu .mob-menu-list dl + dl { padding: 30px 0 30px; }

#wrap #header .container .header .mob-menu .mob-menu-list dl.font-roboto { font-family: 'Roboto', 'NanumSquareRound', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; }

#wrap #header .container .header .mob-menu .mob-menu-list dl dt { width: 110px; color: #000; font-weight: 500; }

#wrap #header .container .header .mob-menu .mob-menu-list dl dd a { display: block; color: rgba(0, 0, 0, 0.6); line-height: 1.1; }

#wrap #header .container .header .mob-menu .mob-menu-list dl dd a + a { margin-top: 24px; }

#wrap #header .container .header .mob-menu .mob-menu-list .mob-side-btn { width: 100%; padding: 24px 0; }

#wrap #header .container .header .mob-menu .mob-menu-list .mob-side-btn ul { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 -6px; }

#wrap #header .container .header .mob-menu .mob-menu-list .mob-side-btn ul li { width: 50%; padding: 0 6px; }

#wrap #header .container .header .mob-menu .mob-menu-list .mob-side-btn ul li a { display: block; height: 42px; line-height: 42px; text-align: center; font-size: 14px; border: 1px solid rgba(0, 0, 0, 0.4); border-radius: 5px; color: #000; font-weight: 500; }

#wrap #banner { min-height: 500px; height: 73vh; }

#wrap #banner .container { height: 100%; }

#wrap #banner .container .slide-view { width: 100%; height: 100%; }

#wrap #banner .container .slide-view .slide-wrap .slide { display: -webkit-box; display: -ms-flexbox; display: flex; background: #000; }

#wrap #banner .container .slide-view .slide-wrap .slide.swiper-slide-active .slide-desc { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }

#wrap #banner .container .slide-view .slide-wrap .slide video { position: absolute; left: 0; top: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -webkit-filter: brightness(0.8); filter: brightness(0.8); opacity: 1; -webkit-transition: opacity 1s linear; transition: opacity 1s linear; }

#wrap #banner .container .slide-view .slide-wrap .slide video.stop { opacity: 0; }

#wrap #banner .container .slide-view .slide-wrap .slide .bg-img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; -webkit-filter: brightness(0.8); filter: brightness(0.8); }

#wrap #banner .container .slide-view .slide-wrap .slide .bg-img.bg-img1 { background: url(../../img/main_lamp.png) no-repeat 50% 90%; background-size: cover; }

#wrap #banner .container .slide-view .slide-wrap .slide .bg-img.bg-img2 { background: url(../../img/main_clock_plus.png) no-repeat 50% 90%; background-size: cover; }

#wrap #banner .container .slide-view .slide-wrap .slide .mob-bg-img { display: none; position: absolute; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; -webkit-filter: brightness(0.8); filter: brightness(0.8); }

#wrap #banner .container .slide-view .slide-wrap .slide .mob-bg-img-1 { background: url(../img/bg_engineering_blog.png) no-repeat center center; background-size: cover; }

#wrap #banner .container .slide-view .slide-wrap .slide .mob-bg-img-2 { background: url(../img/main_flick_lamp.png) no-repeat center center; background-size: cover; }

#wrap #banner .container .slide-view .slide-wrap .slide .mob-bg-img-3 { background: url(../img/main_ainow.png) no-repeat center center; background-size: cover; }

#wrap #banner .container .slide-view .slide-wrap .slide .mob-bg-img-4 { background: url(../img/main_flick_clock_plus.png) no-repeat center center; background-size: cover; }

#wrap #banner .container .slide-view .slide-wrap .slide .mob-bg-img-5 { background: url(../img/main_flick_ocr.png) no-repeat center center; background-size: cover; }

#wrap #banner .container .slide-view .slide-wrap .slide .mob-bg-img-6 { background: url(../img/main_flick_ccai.png) no-repeat center center; background-size: cover; }

#wrap #banner .container .slide-view .slide-wrap .slide .mob-bg-img-7 { background: url(../img/main_flick_voice.png) no-repeat center center; background-size: cover; }

#wrap #banner .container .slide-view .slide-wrap .slide .slide-desc { position: relative; z-index: 2; margin: auto; text-align: center; opacity: 0; -webkit-transform: translateY(100px); transform: translateY(100px); -webkit-transition: opacity 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; transition: opacity 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out; transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; }

#wrap #banner .container .slide-view .slide-wrap .slide .slide-desc .txt { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap #banner .container .slide-view .slide-wrap .slide .slide-desc .txt strong { display: inline-block; color: #fff; font-size: 41px; letter-spacing: -2px; line-height: 1.4; }

#wrap #banner .container .slide-view .slide-wrap .slide .slide-desc .txt strong.mob-txt { display: none; }

#wrap #banner .container .slide-view .slide-wrap .slide .slide-desc .txt span { display: inline-block; color: #fff; font-size: 33px; letter-spacing: -2px; line-height: 1.4; margin-top: 10px; }

#wrap #banner .container .slide-view .slide-wrap .slide .slide-desc .txt img { width: 50%; }

#wrap #banner .container .slide-view .slide-wrap .slide .slide-desc .txt img.fir-img { margin-top: 10px; }

#wrap #banner .container .slide-view .slide-wrap .slide .slide-desc .txt img.mob-img { display: none; }

#wrap #banner .container .slide-view .slide-wrap .slide .slide-desc .detail-box { text-align: center; margin-top: 34px; }

#wrap #banner .container .slide-view .slide-wrap .slide .slide-desc .detail-box .detail-btn { display: inline-block; padding: 16px 32px; border: 1px solid #fff; border-radius: 30px; color: #fff; font-weight: 500; -webkit-transition: border 0.2s ease-in-out, background 0.2s ease-in-out; transition: border 0.2s ease-in-out, background 0.2s ease-in-out; }

#wrap #banner .container .slide-view .slide-wrap .slide .slide-desc .detail-box .detail-btn:hover { border: 1px solid #05d685; background: #05d685; }

#wrap #banner .container .slide-view .swiper-pagination { bottom: 38px; }

#wrap #banner .container .slide-view .swiper-pagination .swiper-pagination-bullet { width: 42px; height: auto; padding: 10px 0; display: inline-block; background: transparent; border-radius: 0; }

#wrap #banner .container .slide-view .swiper-pagination .swiper-pagination-bullet::before { content: ''; display: block; width: 100%; height: 3px; background: rgba(255, 255, 255, 0.9); }

#wrap #banner .container .slide-view .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before { background: white; }

#wrap #contents { width: 100%; }

#wrap #contents .section { width: 100%; padding: 150px 20px; }

#wrap #contents .section .container { width: 100%; }

@-webkit-keyframes bgHover1 { 0% { -webkit-transform: scaleY(1); transform: scaleY(1); }
  50% { -webkit-transform: scaleY(0.8); transform: scaleY(0.8); }
  100% { -webkit-transform: scaleY(1); transform: scaleY(1); } }

@keyframes bgHover1 { 0% { -webkit-transform: scaleY(1); transform: scaleY(1); }
  50% { -webkit-transform: scaleY(0.8); transform: scaleY(0.8); }
  100% { -webkit-transform: scaleY(1); transform: scaleY(1); } }

@-webkit-keyframes bgHover2 { 0% { -webkit-transform: scaleX(1); transform: scaleX(1); }
  50% { -webkit-transform: scaleX(0.8); transform: scaleX(0.8); }
  100% { -webkit-transform: scaleX(1); transform: scaleX(1); } }

@keyframes bgHover2 { 0% { -webkit-transform: scaleX(1); transform: scaleX(1); }
  50% { -webkit-transform: scaleX(0.8); transform: scaleX(0.8); }
  100% { -webkit-transform: scaleX(1); transform: scaleX(1); } }

@-webkit-keyframes bgHover3 { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes bgHover3 { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@-webkit-keyframes bgHover4 { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

@keyframes bgHover4 { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

#wrap #contents #cont1 .title { text-align: center; }

#wrap #contents #cont1 .title h2 { display: inline-block; }

#wrap #contents #cont1 .title h2 img { width: 166px; height: 32px; }

#wrap #contents #cont1 .title p { font-size: 19px; line-height: 1.8; padding: 16px 0 0; letter-spacing: -0.6px; }

#wrap #contents #cont1 .item-list { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; row-gap: 30px; margin-top: 80px; }

#wrap #contents #cont1 .item-list .item { text-align: center; margin: 0 40px; }

#wrap #contents #cont1 .item-list .item .item-img-bg { width: 90px; height: 90px; margin: 0 auto; background: url(../img/sp_svg_icon_web.png); background-size: 418px 372px; }

#wrap #contents #cont1 .item-list .item .item-title { margin: 30px 0 10px; }

#wrap #contents #cont1 .item-list .item .item-title::before { content: ''; display: inline-block; height: 28px; }

#wrap #contents #cont1 .item-list .item .item-desc { line-height: 1.6; font-size: 17px; letter-spacing: -0.6px; }

#wrap #contents #cont1 .item-list .item .item-desc.mob-txt { display: none; padding-top: 10px; }

#wrap #contents #cont1 .item-list .item1:hover .item-img-bg { -webkit-animation: bgHover1 0.6s cubic-bezier(0.175, 0.885, 0.32, 3); animation: bgHover1 0.6s cubic-bezier(0.175, 0.885, 0.32, 3); }

#wrap #contents #cont1 .item-list .item1 .item-img-bg { background-position: -180px 94px; }

#wrap #contents #cont1 .item-list .item1 .item-title::before { width: 190px; background: url(../img/text_img_02.png); background-size: cover; }

#wrap #contents #cont1 .item-list .item2:hover .item-img-bg { -webkit-animation: bgHover2 0.6s cubic-bezier(0.175, 0.885, 0.32, 3); animation: bgHover2 0.6s cubic-bezier(0.175, 0.885, 0.32, 3); }

#wrap #contents #cont1 .item-list .item2 .item-img-bg { background-position: -84px 94px; }

#wrap #contents #cont1 .item-list .item2 .item-title::before { width: 100px; background: url(../img/text_img_03.png); background-size: cover; }

#wrap #contents #cont1 .item-list .item3:hover .item-img-bg { -webkit-animation: bgHover3 3s linear; animation: bgHover3 3s linear; }

#wrap #contents #cont1 .item-list .item3 .item-img-bg { background-position: 145px 92px; }

#wrap #contents #cont1 .item-list .item3 .item-title::before { width: 97px; background: url(../img/text_img_04.png); background-size: cover; }

#wrap #contents #cont1 .item-list .item4:hover .item-img-bg { -webkit-animation: bgHover4 0.5s linear 2 forwards; animation: bgHover4 0.5s linear 2 forwards; }

#wrap #contents #cont1 .item-list .item4 .item-img-bg { background-position: 2px 185px; }

#wrap #contents #cont1 .item-list .item4 .item-title::before { width: 114px; background: url(../img/text_img_05.png); background-size: cover; }

@keyframes bgHover1 { 0% { -webkit-transform: scaleY(1); transform: scaleY(1); }
  50% { -webkit-transform: scaleY(0.8); transform: scaleY(0.8); }
  100% { -webkit-transform: scaleY(1); transform: scaleY(1); } }

@keyframes bgHover2 { 0% { -webkit-transform: scaleX(1); transform: scaleX(1); }
  50% { -webkit-transform: scaleX(0.8); transform: scaleX(0.8); }
  100% { -webkit-transform: scaleX(1); transform: scaleX(1); } }

@keyframes bgHover3 { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes bgHover4 { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

#wrap #contents #cont2 { background: #f8fafc; }

#wrap #contents #cont2 .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; row-gap: 30px; }

#wrap #contents #cont2 .title { margin-right: 100px; }

#wrap #contents #cont2 .title h2 { width: 261px; height: 88px; }

#wrap #contents #cont2 .title h2 img { width: 100%; }

#wrap #contents #cont2 .title p { margin-top: 24px; line-height: 1.8; font-size: 19px; letter-spacing: -0.8px; }

#wrap #contents #cont2 .title p.mob-txt { display: none; }

#wrap #contents #cont2 .item-list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; row-gap: 30px; }

#wrap #contents #cont2 .item-list .item { width: 380px; height: 457px; border: 1px solid #eff3f7; border-radius: 10px; background-color: #fff; padding: 58px 50px 58px 58px; margin: 0 15px; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear; transition: -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear; transition: transform 0.2s linear, box-shadow 0.2s linear; transition: transform 0.2s linear, box-shadow 0.2s linear, -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear; -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }

#wrap #contents #cont2 .item-list .item-img-bg { width: 76px; height: 90px; background: url(../img/sp_svg_icon_web.png); background-size: 418px 372px; }

#wrap #contents #cont2 .item-list .item-title { margin: 36px 0 16px; width: 100%; display: inline-block; }

#wrap #contents #cont2 .item-list .item-title::before { content: ''; display: block; height: 26px; }

#wrap #contents #cont2 .item-list .item-desc { line-height: 2; font-size: 17px; letter-spacing: -0.6px; }

#wrap #contents #cont2 .item-list .item-desc.mob-txt { display: none; }

#wrap #contents #cont2 .item-list .item:hover { -webkit-transform: scale(1.01); transform: scale(1.01); -webkit-box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.2); }

#wrap #contents #cont2 .item-list .item1 .item-img-bg { background-position: -4px 94px; }

#wrap #contents #cont2 .item-list .item1 .item-title::before { background: url(../img/text_img_07.png) no-repeat; background-size: 227px auto; }

#wrap #contents #cont2 .item-list .item2 .item-img-bg { background-position: -90px 187px; }

#wrap #contents #cont2 .item-list .item2 .item-title::before { background: url(../img/text_img_08.png) no-repeat; background-size: 224px auto; }

@keyframes bgHover1 { 0% { -webkit-transform: scaleY(1); transform: scaleY(1); }
  50% { -webkit-transform: scaleY(0.8); transform: scaleY(0.8); }
  100% { -webkit-transform: scaleY(1); transform: scaleY(1); } }

@keyframes bgHover2 { 0% { -webkit-transform: scaleX(1); transform: scaleX(1); }
  50% { -webkit-transform: scaleX(0.8); transform: scaleX(0.8); }
  100% { -webkit-transform: scaleX(1); transform: scaleX(1); } }

@keyframes bgHover3 { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes bgHover4 { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

#wrap #contents #cont3 { padding: 0; }

#wrap #contents #cont3 .container .item-list.web { display: -ms-grid; display: grid; -ms-grid-columns: (minmax(50%, 1fr))[auto-fill]; grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); height: 370px; }

#wrap #contents #cont3 .container .item-list.web .item { height: 100%; overflow: hidden; position: relative; }

#wrap #contents #cont3 .container .item-list.web .item::before { content: ''; position: relative; z-index: 1; display: block; width: 100%; height: 100%; }

#wrap #contents #cont3 .container .item-list.web .item .item-inner { position: absolute; z-index: 2; color: #fff; }

#wrap #contents #cont3 .container .item-list.web .item .item-inner .item-title::before { content: ''; display: block; width: 100%; height: 36px; background: url(../img/sp_svg_icon_web.png); background-size: 418px 372px; }

#wrap #contents #cont3 .container .item-list.web .item .item-inner .item-desc { font-size: 19px; line-height: 1.7; padding: 20px 0 80px; letter-spacing: -0.4px; }

#wrap #contents #cont3 .container .item-list.web .item .item-inner .detail-box { display: inline-block; }

#wrap #contents #cont3 .container .item-list.web .item .item-inner .detail-box .detail-btn { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #fff; }

#wrap #contents #cont3 .container .item-list.web .item .item-inner .detail-box .detail-btn::after { content: ''; display: inline-block; width: 6px; height: 12px; background: url(../img/sp_svg_icon_web.png); background-size: 418px 372px; margin-left: 7px; margin-top: -2px; background-position: 127px -124px; }

#wrap #contents #cont3 .container .item-list.web .item1 { background: -webkit-gradient(linear, left top, right top, from(#20aff1), to(#18be8a)); background: linear-gradient(0.25turn, #20aff1, #18be8a); }

#wrap #contents #cont3 .container .item-list.web .item1::before { background: url(../img/banner_blog_pattern_web.png) no-repeat center 0; background-size: auto 100%; }

#wrap #contents #cont3 .container .item-list.web .item1 .item-inner { left: 37%; top: 22%; }

#wrap #contents #cont3 .container .item-list.web .item1 .item-inner .item-title { width: 328px; }

#wrap #contents #cont3 .container .item-list.web .item1 .item-inner .item-title:before { background-position: 0px -58px; }

#wrap #contents #cont3 .container .item-list.web .item2 { background: #191919; }

#wrap #contents #cont3 .container .item-list.web .item2::before { background: url(../img/banner_ceb_pattern_web.png) no-repeat center center; background-size: cover; }

#wrap #contents #cont3 .container .item-list.web .item2 .item-inner { left: 10%; top: 22%; }

#wrap #contents #cont3 .container .item-list.web .item2 .item-inner .item-title { width: 410px; }

#wrap #contents #cont3 .container .item-list.web .item2 .item-inner .item-title:before { background-position: -2px -12px; }

#wrap #contents #cont3 .container .item-list.mob { display: none; }

#wrap #contents #cont3 .container .item-list.mob .item { padding: 60px 0 40px 40px; color: #fff; }

#wrap #contents #cont3 .container .item-list.mob .item-title::before { content: ''; display: block; width: 100%; height: 100%; background: url(../img/sp_svg_icon_mob.png); background-size: 383px 329px; }

#wrap #contents #cont3 .container .item-list.mob .item-desc { padding-top: 20px; line-height: 1.3; letter-spacing: -0.4px; }

#wrap #contents #cont3 .container .item-list.mob .item .detail-box { margin-top: 90px; }

#wrap #contents #cont3 .container .item-list.mob .item .detail-box .detail-btn { color: inherit; font-size: 13px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap #contents #cont3 .container .item-list.mob .item .detail-box .detail-btn::after { content: ''; display: block; width: 7px; height: 12px; margin-left: 8px; margin-top: -1px; background: url(../img/sp_svg_icon_mob.png); background-size: 383px 329px; background-position: 72px 118px; }

#wrap #contents #cont3 .container .item-list.mob .item1 { background: url(../img/bg_banner_blog.png) no-repeat 50% 0%; background-size: cover; }

#wrap #contents #cont3 .container .item-list.mob .item1 .item-title { width: 241px; height: 27px; }

#wrap #contents #cont3 .container .item-list.mob .item1 .item-title::before { background-position: -4px -80px; }

#wrap #contents #cont3 .container .item-list.mob .item2 { background: #191919 url(../img/bg_banner_ceb.png) no-repeat 100% 0%; background-size: contain; }

#wrap #contents #cont3 .container .item-list.mob .item2 .item-title { width: 295px; height: 27px; }

#wrap #contents #cont3 .container .item-list.mob .item2 .item-title::before { background-position: -4px -4px; }

@keyframes bgHover1 { 0% { -webkit-transform: scaleY(1); transform: scaleY(1); }
  50% { -webkit-transform: scaleY(0.8); transform: scaleY(0.8); }
  100% { -webkit-transform: scaleY(1); transform: scaleY(1); } }

@keyframes bgHover2 { 0% { -webkit-transform: scaleX(1); transform: scaleX(1); }
  50% { -webkit-transform: scaleX(0.8); transform: scaleX(0.8); }
  100% { -webkit-transform: scaleX(1); transform: scaleX(1); } }

@keyframes bgHover3 { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes bgHover4 { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

#wrap #contents #cont4 .title { text-align: center; }

#wrap #contents #cont4 .title h2 { display: inline-block; width: 210px; height: 30px; }

#wrap #contents #cont4 .title h2 img { width: 100%; }

#wrap #contents #cont4 .title p { padding: 21px 0 0; font-size: 19px; letter-spacing: -0.6px; }

#wrap #contents #cont4 .title p.mob-txt { display: none; }

#wrap #contents #cont4 .item-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; row-gap: 30px; margin-top: 84px; }

#wrap #contents #cont4 .item-list .item { border-radius: 5px; overflow: hidden; width: 372px; margin: 0 15px; border: 1px solid #eee; -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); -webkit-transition: -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear; transition: -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear; transition: transform 0.2s linear, box-shadow 0.2s linear; transition: transform 0.2s linear, box-shadow 0.2s linear, -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear; }

#wrap #contents #cont4 .item-list .item .item-link { display: block; width: 100%; }

#wrap #contents #cont4 .item-list .item .item-link .item-img-bg { width: 100%; height: 210px; }

#wrap #contents #cont4 .item-list .item .item-link .item-txt-box { width: 100%; padding: 40px; letter-spacing: -0.4px; }

#wrap #contents #cont4 .item-list .item .item-link .item-txt-box .item-title { word-break: keep-all; line-height: 1.3; }

#wrap #contents #cont4 .item-list .item .item-link .item-txt-box .item-desc { padding: 10px 0 0; font-size: 17px; line-height: 1.6; }

#wrap #contents #cont4 .item-list .item .item-link .item-txt-box .item-desc.mob-txt { display: none; }

#wrap #contents #cont4 .item-list .item:hover { -webkit-transform: scale(1.01); transform: scale(1.01); -webkit-box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.2); }

#wrap #contents #cont4 .item-list .item1 .item-link .item-img-bg { background: url(../img/220418_smart_dictionary_pc.png) no-repeat 0 0; background-size: cover; }

#wrap #contents #cont4 .item-list .item2 .item-link .item-img-bg { background: url(../img/20220315_clova_studio_closed_beta_pc.png) no-repeat 0 0; background-size: cover; }

#wrap #contents #cont4 .item-list .item3 .item-link .item-img-bg { background: url(../img/20220315_clova_smarthome_pc.png) no-repeat 0 0; background-size: cover; }

@keyframes bgHover1 { 0% { -webkit-transform: scaleY(1); transform: scaleY(1); }
  50% { -webkit-transform: scaleY(0.8); transform: scaleY(0.8); }
  100% { -webkit-transform: scaleY(1); transform: scaleY(1); } }

@keyframes bgHover2 { 0% { -webkit-transform: scaleX(1); transform: scaleX(1); }
  50% { -webkit-transform: scaleX(0.8); transform: scaleX(0.8); }
  100% { -webkit-transform: scaleX(1); transform: scaleX(1); } }

@keyframes bgHover3 { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes bgHover4 { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

#wrap #contents #cont5 .container { width: 100%; max-width: 1176px; margin: 0 auto; }

#wrap #contents #cont5 .container .item-list.web { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#wrap #contents #cont5 .container .item-list.web.mob { display: none; }

#wrap #contents #cont5 .container .item-list.web .item { position: relative; width: 572px; height: 370px; margin: 0 auto; }

#wrap #contents #cont5 .container .item-list.web .item::before { content: ''; display: block; width: 100%; height: 100%; border-radius: 5px; }

#wrap #contents #cont5 .container .item-list.web .item .detail-box { position: absolute; left: 10%; bottom: 14%; display: inline-block; }

#wrap #contents #cont5 .container .item-list.web .item .detail-box .detail-btn { display: inline-block; text-indent: -999999%; padding: 0 10px; }

#wrap #contents #cont5 .container .item-list.web .item1::before { background: url(../img/banner_with_cloud.png) no-repeat center center; background-size: cover; }

#wrap #contents #cont5 .container .item-list.web .item2::before { background: url(../img/banner_with_clova.png) no-repeat center center; background-size: cover; }

#wrap #contents #cont5 .container .item3.web { position: relative; width: 100%; height: 370px; margin-top: 40px; }

#wrap #contents #cont5 .container .item3.web::before { content: ''; display: block; width: 100%; height: 100%; border-radius: 5px; background: url(../img/banner_apply.png) no-repeat 0px 0px; background-size: cover; }

#wrap #contents #cont5 .container .item3.web .detail-box { position: absolute; left: 5%; bottom: 14%; }

#wrap #contents #cont5 .container .item3.web .detail-box .detail-btn { display: inline-block; text-indent: -999999%; padding: 0 10px; }

#wrap #contents #cont5 .container .item-list.mob { display: none; width: 100%; }

#wrap #contents #cont5 .container .item-list.mob .item { position: relative; width: 100%; height: 300px; color: #fff; padding: 60px 0 40px 40px; }

#wrap #contents #cont5 .container .item-list.mob .item-title { background: url(../img/sp_svg_icon_mob.png); background-size: 383px 329px; }

#wrap #contents #cont5 .container .item-list.mob .item-desc { padding-top: 15px; letter-spacing: -0.4px; line-height: 1.5; }

#wrap #contents #cont5 .container .item-list.mob .item-desc-strong { font-size: 28px; font-weight: 800; }

#wrap #contents #cont5 .container .item-list.mob .item .detail-box { margin-top: 64px; display: inline-block; }

#wrap #contents #cont5 .container .item-list.mob .item .detail-box .detail-btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: inherit; font-size: 13px; }

#wrap #contents #cont5 .container .item-list.mob .item .detail-box .detail-btn::after { content: ''; display: block; width: 7px; height: 12px; margin-left: 8px; margin-top: -1px; background: url(../img/sp_svg_icon_mob.png); background-size: 383px 329px; background-position: 72px 118px; }

#wrap #contents #cont5 .container .item-list.mob .item1 { background: #09c75c url(../img/banner_with_cloud_pattern.png) 100% 0 no-repeat; background-size: contain; }

#wrap #contents #cont5 .container .item-list.mob .item1 .item-title { background-position: -4px -110px; width: 226px; height: 33px; }

#wrap #contents #cont5 .container .item-list.mob .item2 { background: #1f81f3 url(../img/banner_with_clova_pattern.png) 100% 0 no-repeat; background-size: contain; }

#wrap #contents #cont5 .container .item-list.mob .item2 .item-title { background-position: -4px -40px; width: 243px; height: 33px; }

#wrap #contents #cont5 .container .item-list.mob .item3 { background: #000 url(../img/banner_apply_pattern.png) 100% 0 no-repeat; background-size: contain; }

#wrap #contents #cont5 .container .item-list.mob .item3 .item-title { background-position: -4px -154px; width: 175px; height: 22px; }

@keyframes bgHover1 { 0% { -webkit-transform: scaleY(1); transform: scaleY(1); }
  50% { -webkit-transform: scaleY(0.8); transform: scaleY(0.8); }
  100% { -webkit-transform: scaleY(1); transform: scaleY(1); } }

@keyframes bgHover2 { 0% { -webkit-transform: scaleX(1); transform: scaleX(1); }
  50% { -webkit-transform: scaleX(0.8); transform: scaleX(0.8); }
  100% { -webkit-transform: scaleX(1); transform: scaleX(1); } }

@keyframes bgHover3 { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes bgHover4 { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

#wrap #footer { width: 100%; background: #1a1a1a; color: #8b8b8b; font-size: 13px; }

#wrap #footer .container { width: 100%; max-width: 1176px; margin: 0 auto; padding: 40px 0; }

#wrap #footer .container .footer-info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap #footer .container .footer-info .logo { display: inline-block; }

#wrap #footer .container .footer-info .logo a { display: block; width: 160px; height: 24px; }

#wrap #footer .container .footer-info .logo a:before { content: ''; display: block; width: 100%; height: 100%; background: url(../img/sp_svg_icon_web.png); background-size: 418px 372px; background-position: 0px -97px; }

#wrap #footer .container .footer-info .item-list { display: -webkit-box; display: -ms-flexbox; display: flex; }

#wrap #footer .container .footer-info .item-list .item { width: 24px; height: 24px; }

#wrap #footer .container .footer-info .item-list .item a { position: relative; display: block; width: 100%; height: 100%; }

#wrap #footer .container .footer-info .item-list .item a::before { content: ''; display: block; width: 100%; height: 100%; background: url(../img/sp_svg_icon_web.png); background-size: 418px 372px; }

#wrap #footer .container .footer-info .item-list .item + li { margin-left: 15px; }

#wrap #footer .container .footer-info .item-list .item1 a::before { background-position: 59px -189px; }

#wrap #footer .container .footer-info .item-list .item1 a:hover::before { background-position: 70.8px -231px; }

#wrap #footer .container .footer-info .item-list .item2 a::before { background-position: 90px -188px; }

#wrap #footer .container .footer-info .item-list .item2 a:hover::before { background-position: 241.7px -231.7px; }

#wrap #footer .container .footer-info .item-list .item3 a::before { background-position: 142px -229px; }

#wrap #footer .container .footer-info .item-list .item3 a:hover::before { background-position: 108px -229px; }

#wrap #footer .container .footer-info .item-list .item4 a::before { background-position: 40px -229px; }

#wrap #footer .container .footer-info .item-list .item4 a:hover::before { background-position: 177px -229px; }

#wrap #footer .container .footer-info .cs-desc { display: -webkit-box; display: -ms-flexbox; display: flex; }

#wrap #footer .container .footer-info .cs-desc li { position: relative; display: inline-block; padding: 0 10px; }

#wrap #footer .container .footer-info .cs-desc li a { color: inherit; }

#wrap #footer .container .footer-info .cs-desc li:first-child { padding: 0 15px 0 0; }

#wrap #footer .container .footer-info .cs-desc li + li::before { content: ''; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 1px; height: 80%; background: #424242; }

#wrap #footer .container .footer-info .powered-by { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#wrap #footer .container .footer-info .powered-by span { display: inline-block; }

#wrap #footer .container .footer-info .powered-by-txt { letter-spacing: -0.2px; }

#wrap #footer .container .footer-info .powered-by-txt .mob-powered { display: none; }

#wrap #footer .container .footer-info .powered-by-naver { width: 50px; height: 18px; background: url(../img/sp_svg_icon_web.png); background-size: 418px 372px; margin-top: 2px; margin-left: 3px; background-position: 82px -70px; }

#wrap #footer .container .footer-info .powered-by-line { width: 33px; height: 18px; background: url(../img/sp_svg_icon_web.png); background-size: 418px 372px; margin-top: 2px; background-position: 52px -112.4px; }

#wrap #footer .container .footer-info .powered-by i { display: inline-block; width: 2px; height: 2px; border-radius: 50%; background: #797979; margin: 0 8px; }

#wrap #footer .container .footer-menu { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 40px 0 16px; }

#wrap #footer .container .footer-menu li { position: relative; display: inline-block; padding: 0 15px; }

#wrap #footer .container .footer-menu li a { color: inherit; }

#wrap #footer .container .footer-menu li a:hover { color: #fff; }

#wrap #footer .container .footer-menu li:not(:last-child)::before { content: ''; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 1px; height: 80%; background: #424242; }

#wrap #footer .container .footer-menu li:first-child { padding: 0 15px 0 0; }
