@import "../variables";

#header {
  height: $headerMobHeight;
  &.white{
    background: #fff;
    .container {
      .header {
        h1 {
          a {
            &::before {
              @include mob-svgImg-size-pos(-136,-207);
            }
          }
        }
        .mob-menu-box{
          .mob-menu-op-btn{
            &::before{
              @include mob-svgImg-size-pos(117,-114);
            }
          }
        }
      }
    }
  }
  &.up{
    top: -$headerMobHeight;
  }
  .container {
    padding: 0 20px;
    .header {
      height: 100%;
      >h1 {
        height: 100%;
        a {
          display: flex;
          height: 100%;
          align-items: center;
          padding: 15px;
          &::before {
            width: 124px;
            height: 17px;
            @include mob-svgImg-size-pos(-4,-207);
          }
        }
      }
      .web-menu {
        display: none;
      }
      .side_btn {
        display: none;
      }
      .mob-menu-box{
        display: block;
      }
      .mob-menu{
        display: block;
        
      }
    }
  }
}